[submodule "third_party/libthromium"]
	path = third_party/libchromium
	url = https://github.com/dacci/libchromium.git
[submodule "third_party/wtl"]
	path = third_party/wtl
	url = https://git.code.sf.net/p/wtl/git
